.header {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__nav {
    margin-right: 15px;
  }

  &__li {
    display: flex;
    justify-content: flex-end;
  }

  &__profile {
    width: 3vw;
  }

  &__title {
    width: 65%;
    margin: 0 auto;
    display: block;
    padding: 35px 0px;
    filter: drop-shadow(0px 0px 12px rgb(135, 115, 80));

    @media screen and (min-width: 790px) {
      width: 50%;
    }
  }

  &__donut1 {
    display: none;

    @media screen and (min-width: 790px) {
      display: block;
      position: absolute;
      transform: rotate(340deg);
      top: 50%;
      left: 75%;
      z-index: 0;
      width: 45vw;
    }
  }

  &__donut {
    display: none;

    @media screen and (min-width: 790px) {
      width: 40vw;
      display: block;
      position: absolute;
      bottom: 50%;
      right: 80%;
      z-index: 0;
    }
  }
}
