.header {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__title {
    width: 65%;
    margin: 0 auto;
    display: block;
    padding: 40px 0px;

    @media screen and (min-width: 790px) {
      width: 50%;
    }
  }

  &__donut1 {
    display: none;

    @media screen and (min-width: 790px) {
      display: block;
      position: absolute;
      transform: rotate(20deg);
      top: 65%;
      left: 84%;
      z-index: 0;
      width: 30vw;
    }
  }

  &__donut {
    display: none;

    @media screen and (min-width: 790px) {
      width: 40vw;
      display: block;
      position: absolute;
      bottom: 50%;
      right: 81%;
      z-index: 0;
    }
  }

  // &__subtitle {
  // }
}
