.menu {
  &__container {
    // margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-width: 590px) {
      //   margin-top: 110px;
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__circles {
    width: 20%;
    margin: 20px;

    @media screen and (min-width: 790px) {
      width: 15%;
    }
  }
}
