.menu {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 590px) {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
    }
  }

  &__a {
    cursor: pointer;
    width: 90px;
    @media screen and (min-width: 490px) {
      width: 120px;
    }
    @media screen and (min-width: 790px) {
      width: 155px;
    }
  }

  &__circles {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgb(135, 115, 80);
  }
}
