.cont {
  height: 100vh;

  &__nav {
    display: flex;
    justify-content: flex-end;
  }
}

.container_products {
  padding: 10px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 790px) {
    display: flex;
    justify-content: space-evenly;
  }
}

.form {
  margin: 20px;

  &__value {
    margin: 0 auto;
    font-family: "Satisfy";
  }
}

.products {
  &__home {
    width: 6.5vw;
    cursor: pointer;
    padding: 5px;
    filter: drop-shadow(0px 0px 5px rgb(135, 115, 80));
    @media screen and (min-width: 490px) {
      width: 4.8vw;
      padding: 10px;
    }
    @media screen and (min-width: 790px) {
      width: 3.2vw;
      padding: 15px;
    }

    &__home:active {
      transform: scale(0.9);
    }
  }
  &__juice {
    display: none;

    @media screen and (min-width: 1100px) {
      display: block;
      z-index: 0;
      width: 26vw;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    @media screen and (min-width: 790px) {
      margin-right: 150px;
    }
  }

  &__list {
    background-image: url("../../images/paper.png");
    background-size: cover;
    padding: 28px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  &__title {
    text-align: center;
    font-family: "Satisfy";
    font-size: 28px;
    position: sticky;
    top: 0;
    padding: 20px 0;
    z-index: 1;
    display: block;
    background-color: #fffff4;

    @media screen and (min-width: 790px) {
      font-size: 45px;
    }
  }

  &__ul {
    @media screen and (min-width: 790px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      grid-gap: 20px;
      justify-items: start;
      width: 100%;
    }

    @media screen and (min-width: 990px) {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
  }

  &__li {
    display: flex;
  }

  &__input {
    margin-right: 30px;
  }

  &__span {
    font-family: "Satisfy", cursive;
    font-size: 25px;
  }

  &__button {
    padding: 0px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    margin-left: 7px;
  }

  &__total {
    font-family: "Cabin", sans-serif;
  }
}

.checked {
  text-decoration: line-through;
  color: rgb(12, 32, 81);
}

.input {
  &__add {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__submit {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 0px 15px;
    width: min-content;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  padding: 4px;

  &::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    transform: scale(0);
    box-shadow: inset 1em 1em rgb(237, 177, 12);
  }

  &:checked::before {
    transform: scale(1);
  }
}

.button {
  background-color: rgb(255, 179, 48);
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  color: rgb(59, 25, 3);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 300px;

  &____close {
    cursor: pointer;
  }

  &-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
