.productslist {
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.225);
  border-radius: 5px;
  width: 20%;
}
