.container_products {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  margin: 20px;
}

.products {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-family: "Satisfy";
    font-size: 35px;
  }

  &__span {
    font-family: "Satisfy", cursive;
  }
}

// .productslist {

// }

.checked {
  text-decoration: line-through;
  color: rgb(118, 26, 26);
}
