.header {
  &-wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 0;
  }

  &-backgroundshape {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 50.2% 0, 50.2% 100%, 0 100%);
    background-color: hsl(153, 30%, 92%);
    z-index: 1;
  }

  &-title {
    position: relative;
    z-index: 3;
    font-family: "Lilita One", sans-serif;
    font-size: 140px;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: hsl(153, 30%, 12%);

    @media screen and (max-width: 1100px) {
      font-size: 120px;
    }

    @media screen and (max-width: 990px) {
      font-size: 100px;
    }

    @media screen and (max-width: 720px) {
      font-size: 90px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: hsl(153, 30%, 25%);
    padding: 40px 0px;
    text-shadow: 2px 2px hsl(153, 30%, 5%);
    cursor: pointer;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 720px) {
      margin-top: 40px;
    }
  }
}

.home {
  &-sectionwrapper {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    z-index: 2;

    @media screen and (max-width: 990px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 720px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 400px;
      z-index: 2;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }
      @media screen and (max-width: 720px) {
        width: 320px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
  }

  &-section1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &-section2 {
    width: 480px;
    height: 310px;
    background-color: hsl(152, 17%, 83%);
    background: hsl(153, 30%, 18%);
    border-radius: 50px;
    color: hsl(152, 17%, 83%);
    font-family: "Lato", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;

    @media screen and (max-width: 1100px) {
      width: 400px;
    }

    @media screen and (max-width: 990px) {
      width: 310px;
      height: 340px;
    }

    @media screen and (max-width: 720px) {
      margin-bottom: 20px;
      margin-top: 40px;
    }
  }
}

.section2 {
  &-wrapper {
    padding: 10px 40px;
    height: 100%;

    @media screen and (max-width: 990px) {
      padding: 5px 5px;
    }

    @media screen and (max-width: 720px) {
      height: 250px;
    }
  }

  &-titles {
    font-size: 22px;
    font-weight: 800;
    color: hsl(152, 17%, 90%);
    text-align: center;

    @media screen and (max-width: 990px) {
      font-size: 20px;
    }

    @media screen and (max-width: 720px) {
      font-size: 18px;
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  input {
    display: none;
  }

  .slides {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }

  .first-slide,
  .second-slide {
    width: 50%;
    height: 80%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    padding: 20px 0px;
    box-sizing: border-box;

    @media screen and (max-width: 990px) {
      padding: 0px 0px 50px 0px;
    }
  }

  input#slide1:checked ~ .slides {
    transform: translateX(0);
  }

  input#slide2:checked ~ .slides {
    transform: translateX(-50%);
  }

  .buttons {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width: 990px) {
      bottom: 10px;
    }

    label {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: hsl(152, 17%, 88%);
      opacity: 0.6;
      cursor: pointer;
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }

  input#slide1:checked ~ .buttons label[for="slide1"],
  input#slide2:checked ~ .buttons label[for="slide2"] {
    opacity: 1;
    transform: scale(1.2);
  }
}

.slides li {
  margin-bottom: 15px;
  margin-right: 15px;

  @media screen and (max-width: 990px) {
    margin-right: 10px;
  }
}
