.modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 300px;
  font-family: "Cabin", sans-serif;

  &__close {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  &-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  &__input {
    margin-right: 15px;
    padding: 2.5px;
    border-radius: 5px solid lightgrey;
  }
}
