.Nav {
  &-wrapper {
    height: 58px;
    position: sticky;
    top: -8px;
    padding-top: 8px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: hsl(154, 15%, 88%);
    background-color: hsl(153, 30%, 16%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
    z-index: 9;
  }

  &-ul {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin: 0;
    margin-right: 60px;
  }

  &-li {
    margin: 0px 20px;
    cursor: pointer;
    list-style: none;
  }
}
