.statistics {
  min-height: 100vh;
  background-color: hsl(153, 30%, 92%);
  padding-bottom: 50px;

  &-title {
    font-family: "Lilita One", sans-serif;
    font-size: 55px;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    color: hsl(153, 30%, 12%);
  }

  &-chart {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
}
